<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ant Colony</title>
    <script type="module" src="{{ url_for('static', filename='scripts/app.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='scripts/mouseModes.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="title">THE ANT COLONY OPTIMIZATION</h1>
    <div id="properties">
        <div id="inputs">
            <label for="framerate">Speed: </label>
            <input type="range" name="framerate" id="framerate-range" value="30" max="60" min="1">
            <input type="number" name="framerate" id="framerate-number" value="30" disabled>
        </div>
        <div id="modes">
            <ul>
                <li id="food-source" title="click left mouse button to spawn a food source &#x0a;click left mouse button + ctrl to delete it">Food source</li>
                <li id="base" class="pressed" title="click left mouse button to spawn an ant colony &#x0a;click left mouse button + ctrl to delete it">Ant Colony</li>
            </ul>
        </div>
    </div>
    
    <canvas id="canvas">

    </canvas>
</body>
</html>